<div class="row">
  <div class="col-md-6">
    <h3>WHAT IS THIS?</h3>
    <p>
      Recent studies have shown that approximately 97% of all tech companies
      have a table tennis table in active use. <span class="citation">[<i>citation needed</i>]</span>
    </p>
    <p>
      <b>ITTTL</b> is an informal table tennis league for Indianapolis-area tech companies to meet new people and battle for table tennis supremecy
    </p>

    <h3>CAN WE PLAY?</h3>
    <p>
      Does your company have anything to do with tech? Do you have at least six 
      players? Do you have a table? If the answer to all of these is <i style="font-weight: bold;">YES</i>, then you
      can join up!
    </p>
    <p>
      The hosting company is on the hook for food and beer. We usually try to do a
      "home-and-home" series &mdash; we come to your place to play, then a few weeks
      later you come to ours.
    </p>
    <p>
      Matches are usually played on weekday evenings. All in all, a match takes 
      around two hours. This gives plenty of time to play the matches, talk smack,
      and get to know other local nerds.
    </p>
  </div>
  <div class="col-md-6">
    <h3>RULES</h3>
    <ul>
      <li>Each company fields six players, ranked in order of skill</li>
      <li>Play to 11, service changes every two points, must win by two (<a href="http://www.teamusa.org/USA-Table-Tennis/Rules">USATT rules</a>)</li>
      <li>Each match is best out of three games</li>
      <li>The #5/#6 ranked players play as a doubles team</li>
      <li>House rules trump all, but must be laid out before the first game!</li>
      <li>Company with the most matches won takes the crown</li>
      <li>Victory equals <b>street cred</b> and <b>bragging rights</b></li>
    </ul>
  </div>
</div> 