<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indy Tech Table Tennis League</title>
    <meta name="description" content="ITTTL is an informal table tennis league for Indianapolis-area tech companies to meet new people and battle for table tennis supremecy.">
    <meta name="author" content="Indy Startup Lab">

    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/app.css" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>

    <link rel="shortcut icon" href="/assets/img/ball.png" />
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <div id="wrap">
      {{ content }}
    </div>
    <div id="footer">
      <div class="container">
        <div style="text-align: center">
          Made with <span style="color:#E04735">♥</span> by 
          <a href="https://twitter.com/j_root">Jon Nolen</a> and
          <a href="https://twitter.com/_swanson">Matt Swanson</a>
        </div>
      </div>
    </div>
  </body>
</html>
